Repository python/mypy, pull requests merged in 2023-01, with the labels that each got.

#14442 Use class-based NamedTuples in mypyc
  mypyc/ir/class_ir.py
  mypyc/ir/ops.py
  mypyc/primitives/int_ops.py
  mypyc/primitives/registry.py
Labels: refactoring

#14404 Fix incorrect join in the presence of Any fallback
  mypy/join.py
  mypy/subtypes.py
  test-data/unit/check-inference.test
Labels: upnext

#14486 Fix crash in await inside comprehension outside function
  mypy/semanal.py
  test-data/unit/check-async-await.test
Labels: topic-async

#14088 Adjust SCC setup to enable earlier collections.abc import in typeshed
  mypy/semanal.py
  mypy/semanal_main.py
Labels: affects-typeshed

#14225 ✨ Added new Error to TypedDict
  docs/source/error_code_list.rst
  mypy/checkexpr.py
  mypy/checkmember.py
  mypy/errorcodes.py
  mypy/messages.py
  test-data/unit/check-errorcodes.test
  test-data/unit/check-typeddict.test
Labels: topic-typed-dict

#14388 stubgen: Allow aliases below the top level
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#14238 More helpful type guards
  mypy/checker.py
  mypy/semanal.py
  test-data/unit/check-python38.test
  test-data/unit/check-typeguard.test
Labels: topic-typeguard, upnext
