Repository python/mypy, pull requests merged in 2023-05, with the labels that each got.

#14682 stubgen: Support TypedDict alternative syntax
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-typed-dict, topic-stubgen

#14680 stubgen: Fix call-based namedtuple omitted from class bases
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-named-tuple, topic-stubgen

#15208 stubgen: Fix missing total from TypedDict class
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#14609 Add support for PEP 698 - override decorator
  docs/source/class_basics.rst
  mypy/checker.py
  mypy/messages.py
  mypy/nodes.py
  mypy/semanal.py
  mypy/types.py
  test-data/unit/check-functions.test
  test-data/unit/fixtures/property.pyi
  test-data/unit/fixtures/typing-full.pyi
  test-data/unit/lib-stub/typing_extensions.pyi
Labels: upnext

#15193 Better message for truthy functions
  mypy/checker.py
  test-data/unit/check-errorcodes.test
  test-data/unit/check-flags.test
  test-data/unit/check-inline-config.test
  test-data/unit/check-python38.test
  test-data/unit/check-unreachable-code.test
Labels: upnext

#15232 stubgen: fixes and simplifications
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen, upnext

#15021 Add support for `attrs.fields`
  mypy/plugins/attrs.py
  mypy/plugins/default.py
  test-data/unit/check-plugin-attrs.test
  test-data/unit/lib-stub/attr/__init__.pyi
  test-data/unit/lib-stub/attrs/__init__.pyi
Labels: topic-attrs

#15283 Improve --update-data handler
  mypy/test/data.py
  mypy/test/helpers.py
  mypy/test/testcheck.py
  mypy/test/testupdatedata.py
  mypy/test/update.py
  mypy/test/update_data.py
Labels: upnext
