Repository python/mypy, pull requests merged in 2023-03, with the labels that each got.

#14844 Fix narrow for walrus expressions used in match statements
  mypy/checker.py
  test-data/unit/check-python310.test
Labels: topic-pep-572, topic-match-statement

#14677 Don't duplicate ParamSpec prefixes and properly substitute Paramspecs
  mypy/constraints.py
  mypy/expandtype.py
  mypy/subtypes.py
  mypy/types.py
  test-data/unit/check-parameter-specification.test
Labels: upnext

#14756 Handle type[TypeVar] (fixes #14755)
  mypy/checkmember.py
  mypy/messages.py
  test-data/unit/check-classes.test
Labels: upnext

#14878 [dataclass_transform] fix frozen behavior for base classes with direct metaclasses
  mypy/plugins/dataclasses.py
  test-data/unit/check-dataclass-transform.test
Labels: topic-dataclass-transform

#14955 Stubtest: check that the stub is abstract if the runtime is, even when the stub is an overloaded method
  mypy/stubtest.py
  mypy/test/teststubtest.py
Labels: topic-stubtest

#14951 Stubtest: verify stub methods or properties are decorated with `@final` if they are decorated with `@final` at runtime
  mypy/stubtest.py
  mypy/test/teststubtest.py
Labels: topic-stubtest, topic-final

#14855 Let the multiple inheritance checks consider callable objects as possible subtypes of usual functions (Fixes #14852).
  mypy/checker.py
  test-data/unit/check-multiple-inheritance.test
Labels: upnext

#14908 Add support for converters with TypeVars on generic attrs classes
  mypy/plugins/attrs.py
  test-data/unit/check-attr.test
Labels: topic-attrs

#14953 Don't accidentally ignore typeguard validity for staticmethods
  mypy/semanal.py
  test-data/unit/check-typeguard.test
Labels: topic-typeguard

#14961 Make some stubtest tests less verbose
  mypy/test/teststubtest.py
Labels: topic-tests, topic-stubtest

#14959 Improve bytes formatting error
  mypy/checkstrformat.py
  mypyc/test-data/run-strings.test
  test-data/unit/check-errorcodes.test
  test-data/unit/check-formatting.test
Labels: topic-usability
