Repository python/mypy, pull requests merged in 2023-04, with the labels that each got.

#14984 Fix stubtest false positives with TypedDicts at runtime
  mypy/stubtest.py
  mypy/test/teststubtest.py
  test-data/unit/lib-stub/typing_extensions.pyi
Labels: topic-stubtest

#15006 Support descriptors in dataclass transform
  mypy/plugins/dataclasses.py
  test-data/unit/check-dataclass-transform.test
Labels: topic-dataclass-transform

#14835 Fix disappearing errors when re-running dmypy check
  mypy/errors.py
  mypy/server/update.py
  test-data/unit/daemon.test
Labels: topic-daemon, topic-type-ignore

#15022 Fix attrs.evolve on bound TypeVar
  mypy/plugins/attrs.py
  test-data/unit/check-attr.test
Labels: topic-attrs

#14981 [stubgen] Add `@functools.cached_property` support
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#14990 Allow objects matching `SupportsKeysAndGetItem` to be unpacked
  mypy/checkexpr.py
  mypy/checkstrformat.py
  mypy/test/data.py
  mypy/test/testdeps.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/fixtures/typing-full.pyi
  test-data/unit/check-expressions.test
  test-data/unit/check-formatting.test
  test-data/unit/check-generic-subtyping.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inference.test
  test-data/unit/check-kwargs.test
  test-data/unit/fine-grained-dataclass-transform.test
  test-data/unit/fine-grained-modules.test
  test-data/unit/fine-grained.test
  test-data/unit/fixtures/args.pyi
  test-data/unit/fixtures/dataclasses.pyi
  test-data/unit/fixtures/dict.pyi
  test-data/unit/fixtures/paramspec.pyi
  test-data/unit/fixtures/primitives.pyi
  test-data/unit/fixtures/tuple.pyi
  test-data/unit/fixtures/typing-async.pyi
  test-data/unit/fixtures/typing-full.pyi
  test-data/unit/fixtures/typing-medium.pyi
  test-data/unit/fixtures/typing-namedtuple.pyi
  test-data/unit/fixtures/typing-typeddict.pyi
  test-data/unit/lib-stub/_typeshed.pyi
  test-data/unit/lib-stub/builtins.pyi
  test-data/unit/lib-stub/typing.pyi
Labels: upnext

#15050 attrs.evolve: support generics and unions
  mypy/plugins/attrs.py
  test-data/unit/check-attr.test
  test-data/unit/fixtures/attr.pyi
Labels: topic-attrs

#14722 Make stubgen respect MYPY_CACHE_DIR
  mypy/stubgen.py
Labels: topic-stubgen
