Repository python/mypy, pull requests merged in 2024-03, with the labels that each got.

#16963 Allow TypedDict initialization from Type
  mypy/checkexpr.py
  test-data/unit/check-typeddict.test
Labels: topic-typed-dict

#16994 Fix inference with UninhabitedType
  mypy/join.py
  test-data/unit/check-inference.test
Labels: topic-inference

#16756 Disallow all super calls to methods with trivial bodies
  mypy/checkmember.py
  test-data/unit/check-abstract.test
Labels: upnext

#16926 Support `TypeAliasType`
  mypy/semanal.py
  mypy/typeanal.py
  test-data/unit/check-generics.test
  test-data/unit/check-inference.test
  test-data/unit/check-parameter-specification.test
  test-data/unit/check-python312.test
  test-data/unit/check-type-aliases.test
  test-data/unit/fixtures/typing-full.pyi
  test-data/unit/lib-stub/typing_extensions.pyi
Labels: upnext

#16717 Improve yield from inference for unions of generators
  mypy/checker.py
  mypy/checkexpr.py
  mypyc/test-data/run-generators.test
  test-data/unit/check-statements.test
Labels: upnext

#17068 Fix TypedDict init from Type with optional keys
  mypy/checkexpr.py
  test-data/unit/check-typeddict.test
  test-data/unit/lib-stub/typing_extensions.pyi
Labels: topic-typed-dict
