Repository python/mypy, pull requests merged in 2024-11, with the labels that each got.

#17963 stubgen: fix FunctionContext.fullname for nested classes
  mypy/stubgen.py
  mypy/stubgenc.py
  mypy/stubutil.py
  mypy/test/teststubgen.py
Labels: topic-stubgen

#18163 Support `==`-based narrowing of Optional
  mypy/checker.py
  test-data/unit/check-narrowing.test
Labels: topic-type-narrowing

#18197 Preserve typevar default None in type alias
  mypy/typeanal.py
  test-data/unit/check-typevar-defaults.test
Labels: topic-strict-optional, topic-pep-696

#18198 Set default strict_optional state to True
  mypy/state.py
  mypy/test/testsubtypes.py
  mypy/test/testtypes.py
  mypy/test/typefixture.py
Labels: topic-strict-optional
