Repository python/mypy, pull requests merged in 2025-01, with the labels that each got.

#18420 [stubgen] Improve self annotations
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#18421 [stubgen] Fix UnpackType for 3.11+
  mypy/stubutil.py
  test-data/unit/stubgen.test
Labels: topic-stubgen, topic-pep-646

#18418 [stubgen] Preserve dataclass_transform decorator
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen, topic-dataclass-transform

#18416 Remove unnecessary mypyc files from wheel
  MANIFEST.in
  pyproject.toml
Labels: topic-mypyc

#18441 Fix parent generics mapping when overriding generic attribute with property
  mypy/checker.py
  test-data/unit/check-generic-subtyping.test
Labels: upnext

#18455 Update docs not to mention 3.8 where possible
  docs/source/common_issues.rst
  docs/source/runtime_troubles.rst
Labels: documentation

#18449 Prevent crashing when `match` arms use name of existing callable
  mypy/checker.py
  test-data/unit/check-python310.test
Labels: upnext

#18464 Ignore dataclass.__replace__ LSP violations
  mypy/checker.py
  test-data/unit/check-classes.test
  test-data/unit/check-dataclasses.test
Labels: topic-dataclasses

#18468 Update asyncio eval tests for 3.14
  test-data/unit/pythoneval-asyncio.test
Labels: topic-tests, topic-async

#18430 [stubgen] Improve dataclass init signatures
  mypy/plugins/dataclasses.py
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen, topic-dataclasses, topic-dataclass-transform

#18529 Update NoReturn imports in tests
  test-data/unit/check-flags.test
Labels: topic-tests

#18528 Update TypedDict imports in tests
  test-data/unit/check-classes.test
  test-data/unit/check-custom-plugin.test
  test-data/unit/check-flags.test
  test-data/unit/check-incremental.test
  test-data/unit/check-isinstance.test
  test-data/unit/check-literal.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-overloading.test
  test-data/unit/check-serialize.test
  test-data/unit/check-statements.test
  test-data/unit/check-typeddict.test
  test-data/unit/deps-types.test
  test-data/unit/deps.test
  test-data/unit/diff.test
  test-data/unit/fine-grained.test
  test-data/unit/fixtures/typing-typeddict.pyi
  test-data/unit/merge.test
  test-data/unit/pythoneval.test
  test-data/unit/reports.test
  test-data/unit/semanal-errors.test
  test-data/unit/semanal-typeddict.test
Labels: topic-tests

#18489 [stubgen] Include simple decorators in stub files
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#18541 Suggest typing.Literal for exit-return error messages
  mypy/messages.py
  test-data/unit/check-errorcodes.test
  test-data/unit/check-statements.test
Labels: upnext

#18534 Update math error messages for 3.14
  mypyc/lib-rt/float_ops.c
  mypyc/lib-rt/mypyc_util.h
Labels: topic-mypyc

#18341 Update capi_version for mypyc tests to 3.8
  mypyc/lib-rt/pythonsupport.h
  mypyc/primitives/generic_ops.py
  mypyc/test-data/exceptions.test
  mypyc/test-data/irbuild-basic.test
  mypyc/test-data/irbuild-bytes.test
  mypyc/test-data/irbuild-classes.test
  mypyc/test-data/irbuild-dict.test
  mypyc/test-data/irbuild-glue-methods.test
  mypyc/test-data/irbuild-match.test
  mypyc/test-data/irbuild-nested.test
  mypyc/test-data/irbuild-singledispatch.test
  mypyc/test-data/irbuild-statements.test
  mypyc/test-data/irbuild-str.test
  mypyc/test-data/irbuild-try.test
  mypyc/test-data/irbuild-unreachable.test
  mypyc/test-data/irbuild-vectorcall.test
  mypyc/test-data/refcount.test
  mypyc/test/testutil.py
Labels: topic-mypyc

#18546 Update capi_version for mypyc tests to 3.9
  mypyc/test-data/irbuild-basic.test
  mypyc/test-data/irbuild-classes.test
  mypyc/test-data/irbuild-str.test
  mypyc/test-data/irbuild-vectorcall.test
  mypyc/test-data/refcount.test
  mypyc/test/testutil.py
Labels: topic-mypyc

#18535 Update pythoncapi_compat.h
  mypyc/lib-rt/pythoncapi_compat.h
Labels: topic-mypyc

#18532 Replace deprecated `_PyLong_new` with `PyLongWriter` API
  mypyc/lib-rt/int_ops.c
  mypyc/lib-rt/mypyc_util.h
Labels: topic-mypyc

#18555 Remove old marcos for _PyObject_CallMethod..
  mypyc/lib-rt/pythonsupport.h
Labels: topic-mypyc, upnext

#18477 PEP 702 (@deprecated): "normal" overloaded methods
  mypy/checker.py
  mypy/checkexpr.py
  test-data/unit/check-deprecated.test
Labels: topic-overloads, topic-pep-702

#18560 [mypyc] Fix wheel build for cp313-win
  mypyc/lib-rt/pythoncapi_compat.h
Labels: topic-mypyc

#18553 Add constants for Concatenate and Unpack type names
  mypy/semanal.py
  mypy/stubgen.py
  mypy/typeanal.py
  mypy/types.py
Labels: upnext

#18554 Remove old TypedDict + NamedTuple code from mypyc
  mypyc/irbuild/classdef.py
Labels: topic-mypyc, upnext

#18548 Cleanup backwards compat layer for use_vectorcall and use_method_vectorcall
  mypyc/codegen/emit.py
  mypyc/codegen/emitclass.py
  mypyc/codegen/emitmodule.py
  mypyc/codegen/emitwrapper.py
  mypyc/common.py
  mypyc/irbuild/ll_builder.py
Labels: topic-mypyc

#18576 [mypyc] Use lower-case generic types such as "list[t]" in docs
  mypyc/doc/differences_from_python.rst
  mypyc/doc/native_classes.rst
  mypyc/doc/performance_tips_and_tricks.rst
  mypyc/doc/using_type_annotations.rst
Labels: documentation
