Repository python/mypy, pull requests merged in 2025-05, with the labels that each got.

#19084 Fall back to Incomplete if we are unable to determine the module name
  mypy/stubgenc.py
Labels: topic-stubgen

#18976 Extend special case for context-based typevar inference to typevar unions in return position
  mypy/checkexpr.py
  test-data/unit/check-inference-context.test
Labels: upnext

#18888 Support several more constructs in stubgen's AliasPrinter
  mypy/stubgen.py
  test-data/unit/stubgen.test
Labels: topic-stubgen

#17964 stubgenc: add support for including class and property docstrings
  mypy/stubdoc.py
  mypy/stubgenc.py
  mypy/stubutil.py
  test-data/pybind11_fixtures/expected_stubs_with_docs/pybind11_fixtures/__init__.pyi
  test-data/pybind11_fixtures/expected_stubs_with_docs/pybind11_fixtures/demo.pyi
Labels: topic-stubgen

#19123 Fix example to use correct method of Stack
  docs/source/generics.rst
Labels: documentation
