Repository python/mypy, pull requests merged in 2025-02, with the labels that each got.

#18636 [mypyc] Recognize Literal types in __match_args__
  mypyc/irbuild/match.py
  mypyc/test-data/irbuild-match.test
Labels: topic-mypyc

#18640 Update Literal imports in tests
  mypyc/test-data/run-misc.test
  test-data/unit/check-basic.test
  test-data/unit/check-enum.test
  test-data/unit/check-expressions.test
  test-data/unit/check-final.test
  test-data/unit/check-incremental.test
  test-data/unit/check-isinstance.test
  test-data/unit/check-literal.test
  test-data/unit/check-narrowing.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-overloading.test
  test-data/unit/check-protocols.test
  test-data/unit/check-python310.test
  test-data/unit/check-python38.test
  test-data/unit/check-recursive-types.test
  test-data/unit/check-selftype.test
  test-data/unit/check-statements.test
  test-data/unit/check-type-aliases.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-union-error-syntax.test
  test-data/unit/check-union-or-syntax.test
  test-data/unit/check-unreachable-code.test
  test-data/unit/deps-expressions.test
  test-data/unit/diff.test
  test-data/unit/fine-grained.test
  test-data/unit/fixtures/set.pyi
  test-data/unit/lib-stub/typing.pyi
  test-data/unit/merge.test
  test-data/unit/pythoneval.test
  test-data/unit/semanal-literal.test
Labels: topic-tests

#18641 Add option to selectively disable deprecation warnings
  docs/source/command_line.rst
  docs/source/config_file.rst
  docs/source/error_code_list2.rst
  mypy/checker.py
  mypy/main.py
  mypy/options.py
  mypy/typeanal.py
  test-data/unit/check-deprecated.test
Labels: topic-configuration, topic-pep-702

#18646 Update TypedDict imports in tests (2)
  mypyc/test-data/irbuild-dict.test
  mypyc/test-data/run-classes.test
  mypyc/test-data/run-dicts.test
  mypyc/test-data/run-functions.test
  mypyc/test-data/run-misc.test
  test-data/unit/check-basic.test
  test-data/unit/check-dataclasses.test
  test-data/unit/check-errorcodes.test
  test-data/unit/check-formatting.test
  test-data/unit/check-functions.test
  test-data/unit/check-functools.test
  test-data/unit/check-incremental.test
  test-data/unit/check-inference.test
  test-data/unit/check-literal.test
  test-data/unit/check-modules.test
  test-data/unit/check-narrowing.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-overloading.test
  test-data/unit/check-python38.test
  test-data/unit/check-recursive-types.test
  test-data/unit/check-typeddict.test
  test-data/unit/check-typevar-tuple.test
  test-data/unit/check-typevar-values.test
  test-data/unit/check-varargs.test
  test-data/unit/fine-grained-follow-imports.test
  test-data/unit/fine-grained-suggest.test
  test-data/unit/fine-grained.test
  test-data/unit/fixtures/for.pyi
Labels: topic-tests

#18654 Update Final imports in tests
  mypyc/test-data/alwaysdefined.test
  mypyc/test-data/commandline.test
  mypyc/test-data/exceptions-freq.test
  mypyc/test-data/irbuild-constant-fold.test
  mypyc/test-data/irbuild-float.test
  mypyc/test-data/irbuild-i64.test
  mypyc/test-data/irbuild-int.test
  mypyc/test-data/irbuild-set.test
  mypyc/test-data/refcount.test
  mypyc/test-data/run-classes.test
  mypyc/test-data/run-floats.test
  mypyc/test-data/run-i64.test
  mypyc/test-data/run-math.test
  mypyc/test-data/run-multimodule.test
  mypyc/test-data/run-sets.test
  mypyc/test-data/run-tuples.test
  mypyc/test-data/run-u8.test
  test-data/unit/check-basic.test
  test-data/unit/check-enum.test
  test-data/unit/check-expressions.test
  test-data/unit/check-final.test
  test-data/unit/check-formatting.test
  test-data/unit/check-literal.test
  test-data/unit/check-narrowing.test
  test-data/unit/check-newsemanal.test
  test-data/unit/check-protocols.test
  test-data/unit/check-python310.test
  test-data/unit/check-python38.test
  test-data/unit/check-typeddict.test
  test-data/unit/fine-grained.test
  test-data/unit/semanal-statements.test
Labels: topic-tests

#18652 Add initial changelog for 1.16
  CHANGELOG.md
Labels: documentation

#18655 Update a few more imports in tests
  mypyc/test-data/irbuild-match.test
  mypyc/test-data/run-classes.test
  mypyc/test-data/run-misc.test
  mypyc/test-data/run-multimodule.test
  test-data/unit/check-deprecated.test
  test-data/unit/check-errorcodes.test
  test-data/unit/check-expressions.test
  test-data/unit/check-modules.test
  test-data/unit/check-namedtuple.test
  test-data/unit/check-protocols.test
  test-data/unit/check-selftype.test
  test-data/unit/check-semanal-error.test
Labels: topic-tests

#18672 [mypyc] Optimize str.removeprefix and str.removesuffix
  mypyc/doc/str_operations.rst
  mypyc/lib-rt/CPy.h
  mypyc/lib-rt/str_ops.c
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18673 [mypyc] Optimize str.rsplit
  mypyc/doc/str_operations.rst
  mypyc/lib-rt/CPy.h
  mypyc/lib-rt/str_ops.c
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18519 [mypyc] Calling tp_finalize from tp_dealloc.
  mypyc/codegen/emitclass.py
  mypyc/test-data/run-classes.test
Labels: topic-mypyc

#18685 [mypyc] Mark dict.setdefault as optimized
  mypyc/doc/dict_operations.rst
Labels: documentation, topic-mypyc

#18677 [mypyc] Optimize str.splitlines
  mypyc/doc/str_operations.rst
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18678 [mypyc] Optimize str.startswith and str.endswith with tuple argument
  mypyc/doc/str_operations.rst
  mypyc/lib-rt/CPy.h
  mypyc/lib-rt/str_ops.c
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/irbuild-str.test
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18703 [mypyc] Improve str.startswith and str.endswith with tuple argument
  mypyc/lib-rt/str_ops.c
  mypyc/primitives/str_ops.py
  mypyc/test-data/irbuild-str.test
Labels: topic-mypyc

#18702 [mypyc] Optimize str.partition and str.rpartition
  mypyc/doc/str_operations.rst
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18691 [stubtest] Replace old typing_extensions imports in tests
  mypy/test/teststubtest.py
Labels: topic-stubtest

#18694 Add regression test for typing_extensions.Literal and mypy_extensions.TypedDict
  test-data/unit/check-literal.test
  test-data/unit/check-typeddict.test
Labels: topic-tests

#18705 [mypyc] Optimize str.__contains__
  mypyc/doc/str_operations.rst
  mypyc/primitives/str_ops.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc

#18709 [mypyc] Optimize str.find and str.rfind
  mypyc/doc/str_operations.rst
  mypyc/lib-rt/CPy.h
  mypyc/lib-rt/str_ops.c
  mypyc/primitives/str_ops.py
  mypyc/test-data/fixtures/ir.py
  mypyc/test-data/run-strings.test
Labels: topic-mypyc
